DATABASE_URI=example
PAYLOAD_SECRET=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_ENDPOINT=
R2_Token=

PAYLOAD_SECRET=Z7M6V92xFEwrPk2Z

# Production URL
VERCEL_PROJECT_PRODUCTION_URL=

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=307bd8ae7ff3f079768d48

# Website information for dynamic generation plugins
WEBSITE_TITLE="Abex Bio-Research center"
SITENAME="Abex Bio-Research center"
DESCRIPTION="Abex Bio-Research center"

# Preview Secreat

PREVIEW_SECRET=ae7ff3f079768d48